/*General Header/Footer CSS that will appear on every page*/

/*Test Change - to be responsive. How should I handle? Or is it better to set a width?*/
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding-top: 150px;
 /* margin: 0 auto;*/
}

.row {
    margin-top: 50px;
  }

#ingredients {
  margin-top: 20px;
  background-color: #EEE;
  text-align: center;

}

/*footer  {
  height: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;*/
}

/*Footer*/

footer .social {
  background-color: lightblue;
  margin-top: 50px;
}

.social ul {
  list-style: none;
}

.social ul li {
  display: inline;
}

footer img {
  height: 40px;
}

.irow {
  height: 300px;
}



    .brand {
        display: flex;
        margin: 0;
        padding: 30px 0 10px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 5em;
        font-weight: 700;
        line-height: normal;
        color: #fff;
        width:150px;
        height: 150px;
    }

.navbar-header a {
  width:150px;
  height: 150px;
  display: flex;
  align-items: center;
}
