body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  line-height: 1.5;

  /*padding-top: 150px;*/
 /* margin: 0 auto;*/
}

.row {
    margin-top: 25px;
  }

/*.irow {
  height: 300px;
}  */

/*Navbar*/

div #brand {
  display: flex;
  width: 350px;
  align-items: center;
  justify-content: center;

}

#brand img {
  display: block;
  align-items: center;
  text-align: center;
}

nav.navbar {
  background-color: white;
  border-top: none;
}

@media only screen and (min-width: 768px) {

ul.nav {
  padding-top: 50px;
}
}

a.navbar-brand {
  width:150px;
  height: 100px;
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.homepage-images  {
  margin-top: 25px;
}

.logoname {
  margin: 0 auto;
  width: 50%;
}

#tieredslideshow {
  background: url(../images/homepage/homepageleft/mostwhite.jpg) center center no-repeat;
  background-size: cover;
  overflow: hidden;
  padding: 3%;
  height: 400px;
}

#sculptedslideshow {
  background: url(../images/homepage/homepageright/poodle.jpg) center center no-repeat;
  background-size: cover;
  overflow: hidden;
  padding: 3%;
  height: 400px;
}

@media only screen and (max-width: 768px) {

img {
  margin-top: 50px;
}
 .row {
  margin-top: 0;
}

div #brand {
  width: 300px;
  align-items: center;
  justify-content: center;
}

#tieredslideshow {
  margin-top: 25px;
  margin-left: 15px;
  margin-right: 15px;
}

#sculptedslideshow {
  margin-top: 50px;
  margin-left: 15px;
  margin-right: 15px;
}

a.navbar-brand {
  display: none;
}
}
/*Footer*/

footer.social {
  margin-top: 25px;
  margin-bottom: 50px;
}

.social ul {
  list-style: none;
  padding-left: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0;
  /*margin-top: 50px;*/
}

.social ul li {
  display: inline;
}

footer img {
  height: 35px;
}



